
@keyframes AnimateBG { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.bg {
    align-items: center;
    justify-content: center;
    background-image: url("./../static/img/fond.jpg");
    background-size: 100%;
    padding: 2% 3%;
  }
  

html, body {
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
    color: seashell;
    font-family: Lucida Handwriting;
}


/* element */
  
.let_space{
    letter-spacing: 2px;
}


.c_grid{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-gap: 2vmax;
}
   
.grid{
    /* display: grid; */
    grid-gap: 2vmax;
}
   
  
   
.box2{
    grid-template-columns: 1fr 1fr;
}
  
.box3{
    grid-template-columns: 1fr 1fr 1fr;
} 

/* element */

.table_cont{
    overflow-x: scroll;
    width: 70vw;
}

h1, h2 {
    text-align: center;
}

table {
    border-collapse: collapse;
    letter-spacing: 3px;
    width: 80%;
    margin: 0em 10%;
}

td, th {
    text-align: center;
    padding: 1vmax;
    width: 10%;
    background-size: cover;
    border-left: 3px solid seashell;
    border-top: 3px solid seashell;

}

.ligne {
    border-left: 0px;
}

.colonne {
    border-top: 0px;
}

.form{
    margin: 0vmax 10vmax;
    padding: 0vmax 3vmax 3vmax 3vmax;
}

label{
    font-size: 1.5vmax;
}

input{
    padding:1vmax;
    font-size: 1.3vmax;
    border: 1px solid #dddddd;
    outline: none;
}

select{
    padding:1vmax;
    font-size: 1.3vmax;
    border: 1px solid #dddddd;
    outline: none;
    letter-spacing: 3px;
}

option{
    font-size: 1.5vmax;
    letter-spacing: 3px;
}

.file_submit{
  margin-top: 1vmax;
  border: 1px solid #55acee;
  outline: none;
  background-color: #55acee;
  color: white;
  padding: 1vmax;
  cursor: pointer;
  transition: 0.3s;
  letter-spacing: 2px;
}

.file_submit:hover{
  background-color: white;
  color: #55acee
}

/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: -10px;
    left: -15%;
    height: 30px;
    width: 130%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 43%;
    top: 10px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/* The cible */
.cible {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .cible input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    top: -10px;
    left: -60%;
  }
  
  /* Create a custom submit */
  .ciblemark {
    position: absolute;
    top: -18px;
    left: -55%;
    height: 2em;
    width: 210%;
    background-size: cover;
    transition: 0.5s ease-in-out;
    cursor: none;
  }
  
  /* On mouse-over, add a grey background color */
  .cible:hover input ~ .ciblemark {
    background-image: url('./../static/img/cible.png');
  }

  
